ideaforge/workflows/03-idea-scorer.json
{
  "name": "IdeaForge: Idea Scorer",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-0001-0000-000000000001",
      "name": "Receive Scoring Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [256, 304],
      "parameters": {
        "httpMethod": "POST",
        "path": "ideaforge-idea-scorer",
        "responseMode": "responseNode",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "a1b2c3d4-e5f6-0002-0000-000000000002",
      "name": "Fetch Idea",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [480, 304],
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": { "__rl": true, "mode": "id", "value": "={{ $json.body.idea_id }}" }
      },
      "credentials": { "notionApi": { "id": "<YOUR_NOTION_CREDENTIAL_ID>", "name": "Notion account" } }
    },
    {
      "id": "a1b2c3d4-e5f6-0003-0000-000000000003",
      "name": "Claude: Score Idea",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [704, 304],
      "parameters": {
        "modelId": { "__rl": true, "mode": "id", "value": "claude-sonnet-4-5-20250929" },
        "messages": {
          "values": [{
            "content": "={{ 'Idea: ' + ($json.properties?.Name?.title?.[0]?.plain_text || 'Unknown') + '\\n\\nDescription: ' + ($json.properties?.Description?.rich_text?.[0]?.plain_text || 'N/A') + '\\n\\nProblem: ' + ($json.properties?.Problem?.rich_text?.[0]?.plain_text || 'N/A') + '\\n\\nSolution: ' + ($json.properties?.Solution?.rich_text?.[0]?.plain_text || 'N/A') + '\\n\\nTarget Audience: ' + ($json.properties?.[\"Target Audience\"]?.rich_text?.[0]?.plain_text || 'N/A') + '\\n\\nValue Proposition: ' + ($json.properties?.[\"Value Proposition\"]?.rich_text?.[0]?.plain_text || 'N/A')}}"
          }]
        },
        "options": {
          "system": "You are a startup idea evaluator. Score this idea on 5 dimensions (1-10 each):\n\n1. opportunity_score: Market size and growth potential. 10 = massive TAM, strong tailwinds\n2. problem_score: Pain severity and urgency. 10 = hair-on-fire problem, people actively seeking solutions\n3. feasibility_score: Solo dev MVP feasibility. 10 = can build working MVP in 2 weeks\n4. why_now_score: Timing advantage. 10 = perfect storm of enabling technologies/market shifts\n5. competition_score: Differentiation potential. 10 = no direct competitors, clear moat possible\n\nReturn ONLY valid JSON:\n{\n  \"opportunity_score\": N,\n  \"problem_score\": N,\n  \"feasibility_score\": N,\n  \"why_now_score\": N,\n  \"competition_score\": N,\n  \"composite_score\": N,\n  \"scoring_rationale\": \"2-3 sentence summary of key factors\"\n}\n\ncomposite_score = (opportunity * 0.25) + (problem * 0.30) + (feasibility * 0.20) + (why_now * 0.10) + (competition * 0.15)\n\nRound composite_score to 1 decimal place.",
          "maxTokens": 512
        }
      },
      "credentials": { "anthropicApi": { "id": "<YOUR_ANTHROPIC_CREDENTIAL_ID>", "name": "Anthropic account" } }
    },
    {
      "id": "a1b2c3d4-e5f6-0004-0000-000000000004",
      "name": "Parse Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [928, 304],
      "parameters": {
        "jsCode": "const claudeResponse = $input.item.json;\n\nlet parsed;\ntry {\n  const text = claudeResponse.text || claudeResponse.output || (typeof claudeResponse === 'string' ? claudeResponse : JSON.stringify(claudeResponse));\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found in Claude response');\n  }\n} catch (e) {\n  throw new Error('Failed to parse scoring response: ' + e.message);\n}\n\nconst requiredFields = ['opportunity_score', 'problem_score', 'feasibility_score', 'why_now_score', 'competition_score', 'composite_score'];\nfor (const field of requiredFields) {\n  if (typeof parsed[field] !== 'number') {\n    throw new Error('Missing or invalid score: ' + field);\n  }\n}\n\nreturn { json: parsed };"
      }
    },
    {
      "id": "a1b2c3d4-e5f6-0005-0000-000000000005",
      "name": "Update Idea with Scores",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1152, 304],
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": { "__rl": true, "mode": "id", "value": "={{ $('Fetch Idea').item.json.id }}" },
        "propertiesUi": {
          "propertyValues": [
            { "key": "opportunity_score|number", "numberValue": "={{ $json.opportunity_score }}" },
            { "key": "problem_score|number", "numberValue": "={{ $json.problem_score }}" },
            { "key": "feasibility_score|number", "numberValue": "={{ $json.feasibility_score }}" },
            { "key": "why_now_score|number", "numberValue": "={{ $json.why_now_score }}" },
            { "key": "competition_score|number", "numberValue": "={{ $json.competition_score }}" },
            { "key": "composite_score|number", "numberValue": "={{ $json.composite_score }}" },
            { "key": "status|status", "statusValue": "scored" }
          ]
        },
        "options": {}
      },
      "credentials": { "notionApi": { "id": "<YOUR_NOTION_CREDENTIAL_ID>", "name": "Notion account" } }
    },
    {
      "id": "a1b2c3d4-e5f6-0006-0000-000000000006",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1376, 304],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, idea_id: $('Fetch Idea').item.json.id, scores: $('Parse Scores').item.json }) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Receive Scoring Request": { "main": [[{ "node": "Fetch Idea", "type": "main", "index": 0 }]] },
    "Fetch Idea": { "main": [[{ "node": "Claude: Score Idea", "type": "main", "index": 0 }]] },
    "Claude: Score Idea": { "main": [[{ "node": "Parse Scores", "type": "main", "index": 0 }]] },
    "Parse Scores": { "main": [[{ "node": "Update Idea with Scores", "type": "main", "index": 0 }]] },
    "Update Idea with Scores": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
