ideaforge/workflows/04-daily-publisher.json
{
  "name": "IdeaForge: Daily Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 11 }] }
      },
      "id": "a03c44c5-c2be-4ecf-b81b-c0243e1049b5",
      "name": "Schedule Daily 11:00 AM UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [256, 304]
    },
    {
      "parameters": {
        "path": "ideaforge-manual-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "83674e6b-33b4-4220-af6c-31bc8a4cf562",
      "name": "Manual Trigger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [256, 496],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "id-1", "name": "recipient_email", "value": "<YOUR_EMAIL>", "type": "string" },
            { "id": "id-2", "name": "from_name", "value": "IdeaForge", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "c35284d5-0887-4b6b-a752-1155367cf97e",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 400]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": { "__rl": true, "mode": "id", "value": "<YOUR_IDEAS_DB_ID>" },
        "limit": 4,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            { "key": "status", "type": "status", "condition": "equals", "statusValue": "scored" },
            { "key": "publish_date", "type": "date", "condition": "is_empty" }
          ]
        },
        "options": {
          "sort": { "sortValue": [{ "key": "composite_score", "direction": "descending" }] }
        }
      },
      "id": "96ab23bd-8a2e-478e-a65d-64aec7fc8786",
      "name": "Fetch Top Scored Ideas",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [704, 400],
      "credentials": { "notionApi": { "id": "<YOUR_NOTION_CREDENTIAL_ID>", "name": "Notion account" } }
    },
    {
      "parameters": {
        "jsCode": "const ideas = $input.all().map(item => item.json);\n\nif (ideas.length === 0) {\n  throw new Error('No ideas found to process');\n}\n\nconst featuredIdea = {\n  ...ideas[0],\n  role: 'idea_of_the_day'\n};\n\nconst alsoToday = ideas.slice(1, 4).map(idea => ({\n  ...idea,\n  role: 'also_today'\n}));\n\nreturn [{\n  json: {\n    featured_idea: featuredIdea,\n    also_today: alsoToday,\n    all_ideas: ideas\n  }\n}];"
      },
      "id": "f9822b20-4852-4946-973c-aff33ddd1002",
      "name": "Select and Assign Roles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [928, 400]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "mode": "id", "value": "claude-sonnet-4-5-20250929" },
        "messages": {
          "values": [{
            "content": "={{ 'Featured Idea (Idea of the Day):\\n' + JSON.stringify($json.featured_idea, null, 2) + '\\n\\nAlso Today Ideas:\\n' + $json.also_today.map((idea, i) => `${i+1}. ${idea.name || idea.title || 'Idea ' + (i+1)}`).join('\\n') }}"
          }]
        },
        "options": {
          "system": "You are a startup idea newsletter writer. Your style is direct, specific, and vivid. You write like Paul Graham meets a war correspondent — every sentence earns its place. No fluff, no buzzwords.\n\nGiven a scored startup idea with supporting data, write the following sections:\n\n1. SUBJECT LINE: A curiosity-driven hook (not the product name). Under 50 characters.\n2. IDEA_OF_THE_DAY_INTRO: 150 words. Start with the pain point. Make it visceral and specific.\n3. ALSO_TODAY: For each of the 3 additional ideas, write a one-line title that's compelling enough to click.\n4. TREND_WATCH: 100 words about a related market trend.\n5. FOUNDER_PLAYBOOK: 150 words applying a framework (JTBD, Schlep Blindness, Mom Test, etc.).\n6. SOMEONE_ALREADY_DOING_IT: 50-word case study of a real company in a related space.\n\nReturn ONLY valid JSON with keys: subject_line, idea_intro, also_today (array of 3 strings), trend_watch, founder_playbook, case_study"
        }
      },
      "id": "bf2b6d9f-913f-481d-a40e-91b4c6a98800",
      "name": "Claude: Write Email Content",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [1152, 400],
      "credentials": { "anthropicApi": { "id": "<YOUR_ANTHROPIC_CREDENTIAL_ID>", "name": "Anthropic account" } }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.all()[0].json;\nconst prevData = $('Select and Assign Roles').item.json;\n\nlet emailContent;\nif (response.text) {\n  try { emailContent = JSON.parse(response.text); } catch(e) { emailContent = response; }\n} else if (typeof response === 'string') {\n  emailContent = JSON.parse(response);\n} else {\n  emailContent = response;\n}\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; background-color: #f5f5f5;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #f5f5f5;\">\n    <tr><td align=\"center\" style=\"padding: 40px 20px;\">\n      <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n        <tr><td style=\"padding: 40px 40px 20px; text-align: center; border-bottom: 3px solid #000;\">\n          <h1 style=\"margin: 0; font-size: 32px; font-weight: 700; color: #000;\">IdeaForge</h1>\n          <p style=\"margin: 8px 0 0; font-size: 14px; color: #666;\">Daily Startup Ideas Worth Building</p>\n        </td></tr>\n        <tr><td style=\"padding: 40px;\">\n          <div style=\"background-color: #fff3cd; border-left: 4px solid #ffc107; padding: 20px; margin-bottom: 30px;\">\n            <h2 style=\"margin: 0 0 16px; font-size: 24px;\">Idea of the Day</h2>\n            <div style=\"font-size: 16px; line-height: 1.6;\">${emailContent.idea_intro || ''}</div>\n            <div style=\"margin-top: 24px; padding: 16px; background-color: #f8f9fa; border-radius: 6px;\">\n              <div style=\"font-size: 12px; font-weight: 600; color: #666;\">COMPOSITE SCORE</div>\n              <div style=\"font-size: 36px; font-weight: 700;\">${prevData.featured_idea.composite_score || 'N/A'}</div>\n            </div>\n          </div>\n          <div style=\"margin-bottom: 30px;\">\n            <h3 style=\"font-size: 18px;\">Also Today</h3>\n            <ul style=\"margin: 0; padding: 0; list-style: none;\">\n              ${(emailContent.also_today || []).map(title => `<li style=\"padding: 12px 0; border-bottom: 1px solid #eee;\">${title}</li>`).join('')}\n            </ul>\n          </div>\n          <div style=\"margin-bottom: 30px; padding: 20px; background-color: #e3f2fd; border-radius: 6px;\">\n            <h3 style=\"color: #1976d2;\">Trend Watch</h3>\n            <div style=\"line-height: 1.6;\">${emailContent.trend_watch || ''}</div>\n          </div>\n          <div style=\"margin-bottom: 30px; padding: 20px; background-color: #f3e5f5; border-radius: 6px;\">\n            <h3 style=\"color: #7b1fa2;\">Someone Already Doing It</h3>\n            <div style=\"line-height: 1.6;\">${emailContent.case_study || ''}</div>\n          </div>\n          <div style=\"padding: 20px; background-color: #e8f5e9; border-radius: 6px;\">\n            <h3 style=\"color: #2e7d32;\">Founder Playbook</h3>\n            <div style=\"line-height: 1.6;\">${emailContent.founder_playbook || ''}</div>\n          </div>\n        </td></tr>\n        <tr><td style=\"padding: 30px 40px; background-color: #f8f9fa; border-top: 1px solid #e0e0e0; text-align: center;\">\n          <p style=\"margin: 0; font-size: 13px; color: #666;\">IdeaForge - Daily startup ideas worth building.</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body>\n</html>`;\n\nreturn [{ json: { html, subject: emailContent.subject_line || 'IdeaForge Daily', content: emailContent } }];"
      },
      "id": "6796e9bd-b14a-467f-a4c4-e53243d28bdb",
      "name": "Build HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1504, 400]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sendTo": "={{ $('Workflow Configuration').item.json.recipient_email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": { "senderName": "={{ $('Workflow Configuration').item.json.from_name }}" },
        "operation": "send"
      },
      "id": "fed4ae83-d5cb-44c5-9633-cc6aaa396928",
      "name": "Send Daily Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1728, 400],
      "credentials": { "googleApi": { "id": "<YOUR_GOOGLE_CREDENTIAL_ID>", "name": "Gmail account" } }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": { "__rl": true, "mode": "id", "value": "={{ $('Select and Assign Roles').item.json.all_ideas[$itemIndex].id }}" },
        "propertiesUi": {
          "propertyValues": [
            { "key": "status|status", "type": "status", "statusValue": "published" },
            { "key": "publish_date|date", "type": "date", "includeTime": false, "date": "={{ $now.toFormat('yyyy-MM-dd') }}" },
            { "key": "featured_as|rich_text", "type": "rich_text", "textContent": "={{ $('Select and Assign Roles').item.json.all_ideas[$itemIndex].role }}" }
          ]
        },
        "options": {}
      },
      "id": "424674fa-2e27-44a7-8ebf-f5fb251c0241",
      "name": "Mark Ideas Published",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1952, 400],
      "credentials": { "notionApi": { "id": "<YOUR_NOTION_CREDENTIAL_ID>", "name": "Notion account" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', subject_line: $('Build HTML Email').item.json.subject, timestamp: $now.toISO() }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "c4d3391d-1553-4d6a-b586-2e630107151b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2176, 400]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "mode": "id", "value": "claude-sonnet-4-5-20250929" },
        "messages": {
          "values": [{
            "content": "={{ 'Idea of the Day:\\n' + JSON.stringify($('Select and Assign Roles').item.json.featured_idea, null, 2) }}"
          }]
        },
        "options": {
          "system": "Convert this startup idea into a LinkedIn post. Format:\n- Opening hook line (controversial or surprising, under 15 words)\n- 3-4 short paragraphs (max 200 words total)\n- Call to action: 'I publish one validated startup idea every morning. Follow for tomorrow's.'\n- 3-5 relevant hashtags\n\nTone: confident, data-backed, actionable. Not salesy."
        }
      },
      "id": "1463e4da-5e38-4467-aa43-8cee0e1b9adc",
      "name": "Claude: Write LinkedIn Post",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [2464, 304],
      "credentials": { "anthropicApi": { "id": "<YOUR_ANTHROPIC_CREDENTIAL_ID>", "name": "Anthropic account" } }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.all()[0].json;\nconst featuredIdea = $('Select and Assign Roles').item.json.featured_idea;\n\nconst postText = response.text || (typeof response === 'string' ? response : JSON.stringify(response, null, 2));\n\nreturn [{\n  json: {\n    linkedin_post: postText,\n    idea_name: featuredIdea.name || featuredIdea.title,\n    composite_score: featuredIdea.composite_score,\n    timestamp: new Date().toISOString(),\n    status: 'ready_for_manual_posting'\n  }\n}];"
      },
      "id": "80c25eb9-03dd-44b9-ad43-eb245f307c09",
      "name": "Format LinkedIn Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2816, 304]
    }
  ],
  "connections": {
    "Schedule Daily 11:00 AM UTC": { "main": [[{ "node": "Workflow Configuration", "type": "main", "index": 0 }]] },
    "Manual Trigger Webhook": { "main": [[{ "node": "Workflow Configuration", "type": "main", "index": 0 }]] },
    "Workflow Configuration": { "main": [[{ "node": "Fetch Top Scored Ideas", "type": "main", "index": 0 }]] },
    "Fetch Top Scored Ideas": { "main": [[{ "node": "Select and Assign Roles", "type": "main", "index": 0 }]] },
    "Select and Assign Roles": { "main": [[{ "node": "Claude: Write Email Content", "type": "main", "index": 0 }]] },
    "Claude: Write Email Content": { "main": [[{ "node": "Build HTML Email", "type": "main", "index": 0 }]] },
    "Build HTML Email": { "main": [[{ "node": "Send Daily Email", "type": "main", "index": 0 }]] },
    "Send Daily Email": { "main": [[{ "node": "Mark Ideas Published", "type": "main", "index": 0 }, { "node": "Claude: Write LinkedIn Post", "type": "main", "index": 0 }]] },
    "Mark Ideas Published": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "Claude: Write LinkedIn Post": { "main": [[{ "node": "Format LinkedIn Output", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
